@media(max-width: 1130px) {
    .category_cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .news_page_items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 1024px) {
    .catalog_items, .advantages_items {
        grid-template-columns: repeat(3, 1fr);
    }
    .main_form button,
    .main_form input {
        width: 60%;
    }
    .product_main {
        grid-template-columns: 1fr;
    }
    .product_btn_mobile {
        display: flex;
        justify-content: center;
        margin: 24px 0;
    }
    .product_right .product_right_button {
        display: none;
    }
    .contacts_map iframe{
        height: 400px;
    }
    .contacts_social_links {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 990px) {
    .header_main-contacts {
        display: none;
    }
    .header_main-content {
        flex-grow: inherit;
    }
    .header_main-social {
        width: 45%;
    }
    .header_main-phones {
        width: auto;
    }
    .header_main-logo {
        width: 50%;
    }
    .header_burger_menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_burger_menu i {
        font-size: 28px;
        cursor: pointer;
    }
    .header_burger_menu .fa-bars {
        display: block;
    }
    .header_burger_menu .fa-xmark {
        display: none;
    }
    .header-top_menu {
        display: block;
        position: absolute;
        right: 0;
        top: 76px;
        background-color: #fff;
        width: 300px;
        text-align: center;
        padding: 0;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    .header-top_menu-item a {
        padding: 20px;
        font-size: 16px;
        color: #1a1b1f;
        border-bottom: 1px dotted #ccc;
        width: 100%;
        display: block;
        transition: all .3s ease;
        text-decoration: none;
    }
    .header-top_menu {
        opacity: 0;
        z-index: -1;
    }
    .header-top_menu--active {
        opacity: 1;
        z-index: 9;
        transition: all .3s ease
    }
    .slider_main-item .container {
        justify-content: center;
    }
    .slider_main-content {
        width: 70%;
    }
    .footer_form-wrapper {
        margin: 24px 0;
    }
    .footer .container {
        gap: 16px;
    }
}
@media(max-width: 900px) {
    .category_main-wrapper {
        display: block;
    }
    .brand_filter-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .brand_filter {
        margin-top: 12px;
    }
    .brand_filter-title {
        margin-bottom: 12px;
    }
    .brand_filter label {
        margin: 8px 0 8px 12px;
    }
    .contacts_main {
        grid-template-columns: auto;
        gap: 40px;
    }
}
@media(max-width: 768px) {
    .slick-next {
        right: 40px;
    }
    .slick-prev {
        left: 16px;
    }
    .slider_main-title {
        font-size: 28px;
    }
    .slider_main-text {
        font-size: 18px;
    }
    .slider_main-button {
        padding: 10px 12px;
        font-size: 16px;
    }
    .slider_main .slider_main-item {
        height: 50vh;
    }
    .catalog_items, .advantages_items {
        grid-template-columns: repeat(2, 1fr);
    }
    .product_img {
        display: flex;
        flex-direction: column-reverse;
        gap: 4px;
    }
    .product_img-main--img img {
        width: 100%;
        height: auto;
        max-height: initial;
    }
    .product_img-line {
        flex-direction: row;
        max-width: calc(100vw - 32px);
    }
    .product_img-line--img {
        min-width: 100px;
    }
    .product_img-line--img img {
        width: 100%;
    }
    .about_title {
        font-size: 32px;
    }
    .news_page_items {
        grid-template-columns: repeat(2, 1fr);
    }
    .news_article-main-thub {
        width: 100%;
    }
}
@media(max-width: 700px) {
    .header_main-social {
        display: none;
    }
    .header_main,
    .header_bottom {
        margin-top: 16px;
    }
    .header_main {
        gap: 6px;
    }
    .footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .tabs_content_character-content p + p {
        text-align: end;
    }
}
@media(max-width: 560px) {
    .main_form button,
    .main_form input {
        width: 100%;
    }
    .advantages_item-img {
        width: 50px;
        height: 50px;
    }
    .advantages_item-title {
        font-size: 16px;
    }
    .advantages_items {
        gap: 16px;
    }
    .catalog_items, .advantages_items {
        margin: 32px 0;
    }
    .category_cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .slider_main-content {
        width: 100%;
    }
    .slick-next, 
    .slick-prev {
        display: none !important;
    }
    .privacy_title,
    .service_title {
        font-size: 26px;
    }
    .news_page_item-text_title {
        font-size: 18px;
    }
    .news_page_item-text_text {
        font-size: 14px;
    }
    .news_page_items {
        grid-template-columns: repeat(1, 1fr);
    }
    .news_page_item-img,
    .news_page_item-img img {
        height: 300px;
    }
}
@media(max-width: 470px) {
    .product_right-advantage {
        padding: 0px;
    }
    
}
@media(max-width: 425px) {
    .container {
        padding: 0px 8px;
    }
    .header_menu_list {
        width: 300px;
    }
    .header_menu_btn {
        padding: 8px 18px;
    }
    .header_main-phone {
        display: none;
    }
    .header_main-phones {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .header_main {
        justify-content: center;
    }
    .header_main-logo {
        width: 65%;
    }
    .header_main-phones a {
        font-size: 16px;
        line-height: 24px;
    }
    .product_title {
        font-size: 28px;
    }
    .slick-dots li button {
        display: none;
    }
    .catalog_items, .advantages_items {
        grid-template-columns: repeat(1, 1fr);
    }
    .catalog_description {
        font-size: 16px;
    }
    .catalog_title {
        font-size: 32px;
    }
    .footer {
        padding: 24px 0;
    }
    .product_img-line {
        max-width: calc(100vw - 16px);
    }
    .product_right-advantage-toggle-title h5 {
        font-size: 14px;
    }
    .product_right-advantage-toggle-title {
        padding: 14px;
    }
    .product_right_info {
        padding: 14px;
    }
    .tabs_content_depiction p {
        font-size: 14px;
    }
    .tabs_content_character-title {
        font-size: 24px;
    }
    .tabs_content_character-content p {
        font-size: 14px;
        line-height: 18px;
        padding: 8px;
    }
    .header-top_menu {
        width: 100%;
    }
    .about_contacts-phones {
        grid-template-columns: repeat(1, 1fr);
    }

    .contacts_phone,
    .contacts-mails,
    .contacts_social_links {
        font-size: 14px;
    }
    .contacts_phone i,
    .contacts-mails i,
    .contacts_social_links i {
        font-size: 16px;
        margin-right: 4px;
    }
    .contacts_map_title {
        font-size: 14px;
    }
    .contacts_map iframe {
        height: 340px;
    }
}
